body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#app {
    width: 80vw;
    height: 80vh;
    background-color: #ccc;
    .draggable-source{
        width: 10vw;
        height: 10vh;
        white-space: nowrap;
        overflow: hidden;
        background: aqua;
        text-align: center;
        line-height: 10vh;
    }
}